# Ignorar archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
env/
venv/

# Ignorar archivos de configuración de VSCode
.vscode/

# Ignorar archivos de base de datos y datos
*.db
*.sql
database/*.sql
database/*.db
database/*.txt
main.py
